---
layout: default
title: Home
---
<section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
  <header class="mdl-cell mdl-cell--3-col-desktop mdl-cell--2-col-tablet mdl-cell--4-col-phone">
    <img src="https://avatars2.githubusercontent.com/u/33376555?s=460&v=4" alt="Profile image load failed" width="100%" height="auto" />
  </header>
  <div class="mdl-card mdl-cell mdl-cell--9-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
    <div class="mdl-card__supporting-text">
      <h4>YeoSJ116 Developer</h4>
      I'm a Windows programmer in C#.<br/>
      I am interested not only in programming but also research in various fields.<br/>
      <br/>
      I hope you will benefit from my open source and technologies.<br/>
      But if I have one thing in mind, I am not good at English. 
      So if you have a problem with communication or open source has something worng, let me know and i will review it. Thanks for visit my blog ;)
    </div>
    <div class="mdl-card__actions">
      <a href="/spec" class="mdl-button">See my detail spec</a>
    </div>
  </div>
  <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="ProfileContectBtn">
    <i class="material-icons">more_vert</i>
  </button>
  <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right mdl-js-ripple-effect" for="ProfileContectBtn">
    <li><a class="mdl-menu__item" href="{{ site.naverBlog }}">My blog(kor)</a></li>
    <li><a class="mdl-menu__item" href="{{ site.github }}">Github</a></li>
    <li><a class="mdl-menu__item" href="{{ site.youtube }}">Youtube</a></li>
    <li><a class="mdl-menu__item" href="{{ site.contect }}">Contect</a></li>
  </ul>
</section>

<!-- 새로운 프로젝트 및 변동사항을 알립니다. -->
{% include project_news.html %}

<!-- 최근 나의 활동들 -->
{% include recent_activity.html %}

<!-- end #home -->
<!-- end #home -->