<script src="http://code.jquery.com/jquery-1.4.4.min.js">
	$(document).ready(function(){
		if(getBrowserType() == "MSIE")
			$('.browserGuider').removeClass("not-show");
	}
	function getBrowserType(){
		var browser = "Unknown";
		if(navigator.appName.charAt(0) == "N"){ //Netscape
			if(navigator.userAgent.indexOf("Chrome") != -1)
				browser = "Chrome";
			else if(navigator.userAgent.indexOf("Friefox") != -1)
				browser = "Friefox";
			else if(navigator.userAgent.indexOf("Safari") != -1)
				browser = "Safari";
			else if(navigator.userAgent.indexOf("Opera") != -1)
				browser = "Opera";
			else if(navigator.userAgent.indexOf("Trident") != -1)
				browser = "MSIE"; // IE11 above (Trident)
		}
		else if(navigator.appName.charAt(0) == "M")
			browser = "MSIE";
		else if(navigator.appName.charAt(0) == "O")
			browser = "Opera";
		console.log("Your browser is ", browser); 
		return browser;
	}
</script>
<style type="text/css">
	browserGuider.not-show {
		display: none;
	}	
</style>

<section class="browserGuider section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp browserGuider not-show">
    <div class="mdl-cell mdl-cell--12-col">
    	Notice: This browser will not support perfectly for this web site :(<br/>
    	I recommand you using chrome web browser.
    </div>
</section>