<!--Start browserGuider-->
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="{{ site.baseurl }}/static/js/browserGuider.js"></script>

<style type="text/css">
	.browserGuider.not-show {
		display: none;
	}
</style>

<section class="browserGuider section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp browserGuider not-show">
    <div class="mdl-cell mdl-cell--12-col" style="margin: 20px">
    	<h5>Notice</h5><br/>
    	This browser will not support perfectly for this web site :(<br/>
    	I recommand you using chrome web browser.<br/>
    	<a href="https://www.google.com/intl/ko/chrome/">Get chrome</a>
    </div>
</section>
<!--End browserGuider-->