<!-- Material Design Lite page styles:
    You can choose other color schemes from the CDN, more info here http://www.getmdl.io/customize/index.html
    Format: material.color1-color2.min.css, some examples:
    material.red-teal.min.css
    material.blue-orange.min.css
    material.purple-indigo.min.css -->
    <link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.indigo-pink.min.css">

    <!-- Your styles -->
    <link rel="stylesheet" href="{{ site.baseurl }}/static/css/main.css">

    <script type="text/javascript">
    //loadingImage is relative to project dir
    var tb_pathToImage = "{{ site.baseurl }}/static/img/loadingAnimation.gif";
    </script>
