<footer class="mdl-mega-footer">
  <div class="mdl-mega-footer--middle-section">
    <div class="mdl-mega-footer--drop-down-section">
      <input class="mdl-mega-footer--heading-checkbox" type="checkbox" checked>
      <h1 class="mdl-mega-footer--heading">Site maps</h1>
      <ul class="mdl-mega-footer--link-list">
        <li><a href="{{ site.baseurl }}/">Home</a></li>
        <li><a href="{{ site.baseurl }}/project/">Project</a></li>
        <!--li><a href="#">Download</a></li-->
        <li><a href="{{ site.baseurl }}/future/">Future</a></li>
        <li><a href="{{ site.baseurl }}/spec/">Spec</a></li>
      </ul>
    </div>
    <div class="mdl-mega-footer--drop-down-section">
      <input class="mdl-mega-footer--heading-checkbox" type="checkbox" checked>
      <h1 class="mdl-mega-footer--heading">Contact</h1>
      <ul class="mdl-mega-footer--link-list">
        <li><a href="#">Contect sheet</a></li>
      </ul>
    </div>
  </div>
  <div class="mdl-mega-footer--bottom-section">
    <div class="mdl-logo">
      More Information
    </div>
    <ul class="mdl-mega-footer--link-list">
      <li><a href="https://blog.naver.com/yeosj116">My blog(kor)</a></li>
      <li> | </li>
      <li><a href="{{ site.baseurl }}">Github</a></li>
      <li> | </li>
      <li><a href="https://www.youtube.com/channel/UCUgrvzrw-JA-uz-5PDX3EZw?view_as=subscriber">Youtube</a></li>
    </ul>
  </div>
</footer>