<section class="cards-section">
<div class="main-container">
	<h2 class="heading-2">페이지 둘러 보기</h2>
	<p class="paragraph"> 개발자의 웹페이지를 둘러 보세요 </p>
	<div class="cards-grid-container">
		<a href="{{ site.baseurl }}/" class="cards-box">
		<div class="cards-image-mask">
			<img src="{{ site.baseurl }}/static/img/page icon/home.svg" alt="" class="cards-image gray-black">
		</div>
		<h3 class="cards-title">홈</h3>
		</a>

		<a href="#" class="cards-box">
		<div class="cards-image-mask">
			<img src="{{ site.baseurl }}/static/img/page icon/bug report.svg" alt="" class="cards-image gray-black">
		</div>
		<h3 class="cards-title">버그 신고</h3>
		</a>

		<a href="#" class="cards-box">
		<div class="cards-image-mask">
			<img src="{{ site.baseurl }}/static/img/page icon/dev service.svg" alt="" class="cards-image gray-black">
		</div>
		<h3 class="cards-title">개발자용</h3>
		</a>

		<a href="{{ site.baseurl }}/spec/" class="cards-box">
		<div class="cards-image-mask">
			<img src="{{ site.baseurl }}/static/img/page icon/spec.svg" alt="" class="cards-image gray-black">
		</div>
		<h3 class="cards-title">스펙</h3>
		</a>

		<a href="{{ site.baseurl }}/project/" class="cards-box">
		<div class="cards-image-mask">
			<img src="{{ site.baseurl }}/static/img/page icon/project.svg" alt="" class="cards-image gray-black">
		</div>
		<h3 class="cards-title">프로젝트</h3>
		</a>

		<a href="{{ site.baseurl }}/downloads/" class="cards-box">
			<div class="cards-image-mask">
				<img src="{{ site.baseurl }}/static/img/page icon/download.svg" alt="" class="cards-image gray-black">
			</div>
			<h3 class="cards-title">다운로드</h3>
		</a>

		<a href="#" class="cards-box">
			<div class="cards-image-mask">
				<img src="{{ site.baseurl }}/static/img/page icon/web application.svg" alt="" class="cards-image gray-black">
			</div>
			<h3 class="cards-title">웹 프로그램</h3>
		</a>
		
		<a href="#" class="button cards-button-box">모든 서비스 확인하기</a>
	</div>
</div>
</section>
<footer class="footer">
<div class="main-container">
	<div class="footer-grid">
		<div class="business-card developer-mini-card">
			<div class="business-card-title">
				YeoSJ116 개발자<br>
			</div>
			<div class="business-card-content">
				대한민국 대학생 2학년인 시스템 개발자입니다.<br>
				현재 대학 생활을 통해 다양한 분야에서 활동하며 얻은 장학금으로 개발 하고 있습니다.<br>
			</div>
			<div class="business-card-links">
				<a href="#" class="business-card-links-box">
					<img src="{{ site.baseurl }}/static/img/sns icon/naver blog.svg" alt="" class="business-card-links-image">
				</a> <!-- Naver blog -->

				<a href="#" class="business-card-links-box">
					<img src="{{ site.baseurl }}/static/img/sns icon/youtube.svg" alt="" class="business-card-links-image">
				</a> <!-- youtube -->

				<a href="#" class="business-card-links-box">
					<img src="{{ site.baseurl }}/static/img/sns icon/github.svg" alt="" class="business-card-links-image">
				</a> <!-- GitHub -->

				<a href="#" class="business-card-links-box">
					<img src="{{ site.baseurl }}/static/img/sns icon/email.svg" alt="" class="business-card-links-image">
				</a> <!-- email -->

				<a href="#" class="business-card-links-box">
					<img src="{{ site.baseurl }}/static/img/sns icon/facebook.svg" alt="" class="business-card-links-image">
				</a> <!-- Facebook -->

				<a href="#" class="business-card-links-box-mobile-enable">
					<img src="{{ site.baseurl }}/static/img/sns icon/twitter.svg" alt="" class="business-card-links-image">
				</a> <!-- twitter -->

				<a href="#" class="link business-card-more-info">더 많은 정보 보기</a>
			</div>
		</div>
		<div class="business-card applications-mini-card">
			<div class="business-card-title">
				Applications<br>
			</div>
			<div class="business-card-links">
				<a href="#" class="business-card-links-box">
					<img src="" alt="" class="business-card-links-image"></a>

				<a href="#" class="business-card-links-box">
					<img src="" alt="" class="business-card-links-image"></a>

				<a href="#" class="business-card-links-box">
					<img src="" alt="" class="business-card-links-image"></a>

				<a href="#" class="business-card-links-box">
					<img src="" alt="" class="business-card-links-image"></a>

				<a href="#" class="business-card-links-box">
					<img src="" alt="" class="business-card-links-image"></a>

				<a href="#" class="business-card-links-box">
					<img src="" alt="" class="business-card-links-image"></a>

				<a href="#" class="business-card-links-box">
					<img src="" alt="" class="business-card-links-image"></a>

				<a href="#" class="business-card-links-box">
					<img src="" alt="" class="business-card-links-image"></a>

				<a href="#" class="business-card-links-box">
					<img src="" alt="" class="business-card-links-image"></a>

				<a href="#" class="business-card-links-box-mobile-disable">
					<img src="" alt="" class="business-card-links-image"></a>

				<a href="#" class="link more-applications-link">더 많은 서비스 항목 보기</a>
			</div>
		</div>
	</div>
	<div class="text-block">
		Copyright © 2020 YeoSJ116. All rights reserved.
	</div>
</div>
</footer>