<link rel="stylesheet" href="{{ site.baseurl }}/static/css/projects.css">

<section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp" style="margin-bottom: 10px;">
    <div class="mdl-card mdl-cell mdl-cell--12-col" style="min-height: 0;">
        <div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing" style="margin-top: 23px; margin-bottom: 5px;">
            <h4 class="mdl-cell mdl-cell--12-col">Tag filter</h4>
        <!---->
        {% if site.enableTags ==  true %} 
        <div id="tag-filter" class="tag-group">
            <span class="tag-highlight tag-title">TAG Filter</span>
            <span class="label tag-filter tag-cloud all tag-highlight">Reset</span>
            {% assign tagarray = site.tagarray %}
            {% for project in site.data.projects %}
                {% for tag in project.tags %}
                    {% assign tagarray = tagarray | push: tag %}
                {% endfor %}
            {% endfor %}

            {% assign tags = tagarray[1] %}
            {% for item in tagarray %}
                {% assign tagDown = item | downcase %}
                {% assign tagComp = tags | downcase %}
                {% unless tagComp contains tagDown %}
                    {% capture tags %}{{ tags }}|{{ item }}{% endcapture %}
                {% endunless %}
            {% endfor %}

            {% assign taglist = tags | split: '|' | sort %}
            {% for tag in taglist %}
                <span class="label tag-filter tag-cloud" data-tag="{{ tag | downcase }}">{{ tag }}</span>
            {% endfor %}
            </div>
        {% endif %}
        </div>
    </div>
</section>