.img{
  position: relative;
  background-repeat: round;
  align-content: center;
}

.img-cover{
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index:1;
}

.img .content{
  color: white;
  width: 100%;
  padding: 5px;
  text-align: center;
  text-shadow: 1px 1px 2px gray;
}