---
layout: default
---
<section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
  <section class="section--center mdl-grid mdl-grid--no-spacing">
    <div class="mdl-cell mdl-cell--12-col">
      <h4>List title</h4>
      List sub title
      <ul class="toc">
        <h4>Contents</h4>
        <a href="/#">home</a>
        <a href="/project">project</a>
        <a href="/application">application</a>
        <a href="/spec">spec</a>
      </ul>

      <h4>List title</h4>
      List sub title
      <ul>
        <li>Home is default page</li>
        <li>Project is shows projects and recent updated list</li>
        <li>Application is serve computer programe, android app, web app.</li>
        <li>Spec is show my current tasks or my history of skills or my best days.</li>
        <li>Article page is will serve in future.</li>
      </ul>
      <p>
        Text panel 1
      </p>
      <p>
        Text panel 2
      </p>
      <p>
        Text panel 3
      </p>
      <p>
        Text panel 4
      </p>

      <h5>Sub title</h5>
      <p>
        Text panel 5
      </p>
      <p>
        Text panel 6
      </p>
    </div>
  </section>
</section>
