---
layout: default
---
<!-- start: Project tag -->
{% include project_tags.html %}
<!-- end: Project tag -->

<!-- start: Project card -->
<section class="section--center mdl-cell--12-col mdl-grid mdl-grid--no-spacing" style="width: 100%">
    <!-- max-width: 890px; -->
    <div class="mdl-grid" style="padding: 8px 0px; margin: 0px -8px">
    {% for i in site.data.projects %}

        <div data-tags='{{ i.tags | jsonify | downcase }}' class="project-item mdl-cell mdl-cell--6-col-desktop mdl-cell--4-col-tablet mdl-cell--12-col-phone mdl-shadow--2dp" style="padding: 0px 10px;">
            <div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing" class="project-img" style="padding: 0px; width: 100%; margin-top: 10px">
                <image href="{{ site.baseurl }}/static/img/projects/{{ i.image }}_original.png" src="{{ site.baseurl }}/static/img/projects/{{ i.image }}.png" style="width: 100%; height: 100%;"/>
            </div>

            <a href="{{ i.url }}"><h4 style="margin: 13px 0px;">{{ i.name }}</h4></a>
            {% if i.tags %} 
            {% for j in i.tags %}
            <span data-tag="{{ j | downcase }}">{{ j }}</span>
            {% endfor %}
            {% endif %}
            <div id="project-footer" style="margin-bottom: 8px"> 
                <span>{{ i.date }}</span>
        </div>
        </div>
        {% endfor %}
    </div>
</section>
<!-- end: Project card -->

<!-- start: Project tag functions -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="{{ site.baseurl }}/static/js/projects.js"></script>
<!-- start: Project tag functions -->