---
layout: default
---
<!-- start: Tag generator -->
{% include project_tags.html %}
<!-- end: Tag generator -->

<!-- start: Project card generator -->
<section class="section--center mdl-grid mdl-grid--no-spacing">
    <div class="mdl-card mdl-cell mdl-cell--12-col">
    {% for i in site.data.projects %}
    <div data-tags='{{ i.tags | jsonify | downcase }}' class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing">

    <div class="project-item col-md-4 col-sm-6 col-xs-12 mdl-shadow--2dp" >
        <a href="/static/projects/{{ i.image }}.png" class="thickbox">
            <div class="project-img bordered" style="background-image: url('/static/projects/{{ i.image }}.png');"></div>
        </a>
        {% if i.url %} <a href="{{ i.url }}"> {% endif %}
            <h4 class="mdl-cell mdl-cell--12-col">{{ i.name }}</h4>
                <div>
                    {% if i.tags %} 
                    {% for j in i.tags %}
                    <span data-tag="{{ j | downcase }}">{{ j }}</span>
                    {% endfor %}
                    {% endif %}
                </div>
            </a>
                <div id="project-footer"> 
                    <span>{{ i.date }}</span>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    <!-- end: Project card generator -->
    </div>
</section>

<script src="{{ site.baseurl }}/static/js/projects.js"></script>
