---
layout: default
---
<!-- start: Project tag -->
{% include project_tags.html %}
<!-- end: Project tag -->

<!-- start: Project card -->
<section class="section--center mdl-cell--12-col mdl-grid mdl-grid--no-spacing" style="max-width: 890px;">
    <div class="mdl-grid">
    {% for i in site.data.projects %}

        <div data-tags='{{ i.tags | jsonify | downcase }}' class="mdl-cell mdl-cell--6-col-desktop mdl-cell--6-col-tablet mdl-cell--12-col-phone mdl-shadow--2dp">
            <div href="/static/projects/{{ i.image }}.png" style="background-image: url('/static/projects/{{ i.image }}.png')" class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing"></div>
                <div class="project-img bordered" );"></div>
                <a href="{{ i.url }}"><h4>{{ i.name }}</h4></a>
                {% if i.tags %} 
                {% for j in i.tags %}
                <span data-tag="{{ j | downcase }}">{{ j }}</span>
                {% endfor %}
                {% endif %}
                <div id="project-footer"> 
                    <span>{{ i.date }}</span>
                </div>
        </div>
        {% endfor %}
    </div>
</section>
<!-- end: Project card -->

<!-- start: Project tag functions -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="{{ site.baseurl }}/static/js/projects.js"></script>
<!-- start: Project tag functions -->
