---
layout: default
---
<section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
	<div class="mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--12-col-phone">
		<h4>My skills</h4>
	</div>
    {% for skill in site.data.skills %}
    <div class="mdl-cell mdl-cell--4-col-desktop mdl-cell--4-col-tablet mdl-cell--12-col-phone"
	 style="border-bottom: 1px solid rgba(0, 0, 0, 0.12);">
    	<div style="margin: 10px 10px 5px 10px;">
    		<h4 style="margin: 0px;">{{ skill.title }}</h4>
    		<h6 style="margin: 0px;">{{ skill.subtitle }}</h6>
    		<div style="width: auto; background: {{ site.main_color }};">
    			<div style="background: #ffffff99; height: 5px; width: calc({{ skill.value }}%)"></div>
    		</div>
    	</div>
    </div>
    {% endfor %}
</section>


<section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
  <div class="mdl-cell mdl-cell--12-col" style="padding-left: 25px;">
  	<h4>My time line</h4>
  	<p>
  		"This is my life's flow"
  	</p>
    {% for spec in site.data.specs %}
    <h4>{{ spec.title }}</h4>
    <ul class="toc">{% for subtitle in spec.subtitle %}
    	<a>{{ subtitle }}</a>
    {% endfor %}</ul>
    <br/>
    {% endfor %}
  </div>
</section>
